<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Brand</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/']" routerLinkActive="router-link-active" ><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Pages
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Brand Car</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- start-clients contant-->
<div class="row">
    <div class="col-12">
        <div class="card card-statistics clients-contant">
            <div class="card-header">
                <div class="d-xxs-flex justify-content-between align-items-center">
                        <div class="col-md-6">
                            <div class="card-heading">
                                <h4 class="card-title">Brand</h4>
                            </div>
                        </div><div class="col-md-6 text-right">
                            <div class="card-heading">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#formAddBrand">+ Add new </button>
                            </div>
                        </div>
                </div>
            </div>
            <div class="card-body py-0 table-responsive">
                <table class="table clients-contant-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Logo</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold">Vinfast</p>
                                </div>
                            </td>
                            <td>
                                <div class="bg-img mr-4">
                                    <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                </div>
                            </td>
                            <td><a href="javascript:void(0)" class="dot"></a><span>Active</span></td>
                            <td><a class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"
                                    data-toggle="modal" data-target="#formEditBrand"><i class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold">aaaa</p>
                                </div>
                            </td>
                            <td>
                                <div class="bg-img mr-4">
                                    <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                </div>
                            </td>
                            <td><a href="javascript:void(0)" class="dot bg-primary"></a><span>Inactive</span></td>
                            <td><a [routerLink]="['/my-dashboard-car/form-product-detail']"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold">dddd</p>
                                </div>
                            </td>
                            <td>
                                <div class="bg-img mr-4">
                                    <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                </div>
                            </td>
                            <td><a href="javascript:void(0)" class="dot bg-primary"></a><span>Inactive</span></td>
                            <td><a [routerLink]="['/my-dashboard-car/form-product-detail']"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold">Vinfast</p>
                                </div>
                            </td>
                            <td>
                                <div class="bg-img mr-4">
                                    <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                </div>
                            </td>
                            <td><a href="javascript:void(0)" class="dot"></a><span>Active</span></td>
                            <td><a [routerLink]="['/my-dashboard-car/form-product-detail']"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold">ssss</p>
                                </div>
                            </td>
                            <td>
                                <div class="bg-img mr-4">
                                    <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                </div>
                            </td>
                            <td><a href="javascript:void(0)" class="dot bg-danger"></a><span>Canceled</span></td>
                            <td><a [routerLink]="['/my-dashboard-car/form-product-detail']"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end-clients contant-->

<div class="modal fade" id="formEditBrand" tabindex="-1" role="dialog" aria-labelledby="formEditBrand" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="brandNameEdit">Brand Name</label>
                        <input type="text" class="form-control" id="brandNameEdit">
                    </div>
                    <div class="form-group">
                        <label for="logoBrandEdit">Logo</label>
                        <input type="file" class="form-control" id="logoBrandEdit">
                    </div>
                    <div class="form-group">
                        <label >Status</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusBrand" value="true" id="activeEdit" checked>
                                <label class="form-check-label" for="activeEdit">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusBrand" value="false" id="inactiveEdit">
                                <label class="form-check-label" for="inactiveEdit">Inactive</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">UPDATE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="formAddBrand" tabindex="-1" role="dialog" aria-labelledby="formAddBrand" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="brandNameAdd">Brand Name</label>
                        <input type="text" class="form-control" id="brandNameAdd">
                    </div>
                    <div class="form-group">
                        <label for="logoBrandAdd">Logo</label>
                        <input type="file" class="form-control" id="logoBrandAdd">
                    </div>
                    <div class="form-group">
                        <label >Status</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusBrandAdd" value="true" id="activeEditAdd" checked>
                                <label class="form-check-label" for="activeEditAdd">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusBrandAdd" id="inactiveEditAdd" value="false">
                                <label class="form-check-label" for="inactiveEditAdd">Inactive</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">ADD</button>
                </form>
            </div>
        </div>
    </div>
</div>