<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Product</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="index.html"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Pages
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Product</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- start-clients contant-->
<div class="row">
    <div class="col-12">
        <div class="card card-statistics clients-contant">
            <div class="card-header">
                <div class="d-xxs-flex justify-content-between align-items-center">
                    <div class="col-md-6">
                        <div class="card-heading">
                            <h4 class="card-title">Product</h4>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="card-heading">
                                <a [routerLink]="['/my-dashboard-car/form-create-product']" routerLinkActive="router-link-active" ><button class="btn btn-primary" type="button" value="">+ Add new </button> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body py-0 table-responsive">
                <table class="table clients-contant-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Price</th>
                            <th scope="col">Discount Rate</th>
                            <th scope="col">Meeting day</th>
                            <th scope="col">Showrom</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="bg-img mr-4">
                                        <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                    </div>
                                    <p class="font-weight-bold">Vinfast lux A</p>
                                </div>
                            </td>
                            <td>Vinfast</td>
                            <td>1.000.000.000</td>
                            <td>10%</td>
                            <td>19/09/2023</td>
                            <td>Cầu Giấy</td>
                            <td><a href="javascript:void(0)" class="dot"></a><span>Paid</span></td>
                            <td><a [routerLink]="['/my-dashboard-car/form-edit-product']"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="bg-img mr-4">
                                        <img src="assets/img/avtar/02.jpg" class="img-fluid" alt="Clients-02">
                                    </div>
                                    <p class="font-weight-bold">Jenny Smithdro</p>
                                </div>
                            </td>
                            <td>Vinfast</td>
                            <td>1.000.000.000</td>
                            <td>10%</td>
                            <td>19/09/2023</td>
                            <td>Cầu Giấy</td>
                            <td><a href="javascript:void(0)" class="dot bg-primary"></a><span>Unpaid</span></td>
                            <td><a [routerLink]="['/my-dashboard-car/form-edit-product']"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="bg-img mr-4">
                                        <img src="assets/img/avtar/03.jpg" class="img-fluid" alt="Clients-03">
                                    </div>
                                    <p class="font-weight-bold">Brian Joedro</p>
                                </div>
                            </td>
                            <td>Vinfast</td>
                            <td>1.000.000.000</td>
                            <td>10%</td>
                            <td>19/09/2023</td>
                            <td>Cầu Giấy</td>
                            <td><a href="javascript:void(0)" class="dot bg-primary"></a><span>Unpaid</span></td>
                            <td><a [routerLink]="['/my-dashboard-car/form-edit-product']"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="bg-img mr-4">
                                        <img src="assets/img/avtar/04.jpg" class="img-fluid" alt="Clients-04">
                                    </div>
                                    <p class="font-weight-bold">Sandradro Garett</p>
                                </div>
                            </td>
                            <td>Vinfast</td>
                            <td>1.000.000.000</td>
                            <td>10%</td>
                            <td>19/09/2023</td>
                            <td>Cầu Giấy</td>
                            <td><a href="javascript:void(0)" class="dot"></a><span>Paid</span></td>
                            <td><a [routerLink]="['/my-dashboard-car/form-edit-product']"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="bg-img mr-4">
                                        <img src="assets/img/avtar/05.jpg" class="img-fluid" alt="Clients-05">
                                    </div>
                                    <p class="font-weight-bold">Garydro</p>
                                </div>
                            </td>
                            <td>Vinfast</td>
                            <td>1.000.000.000</td>
                            <td>10%</td>
                            <td>19/09/2023</td>
                            <td>Cầu Giấy</td>
                            <td><a href="javascript:void(0)" class="dot bg-danger"></a><span>Canceled</span></td>
                            <td><a [routerLink]="['/my-dashboard-car/form-edit-product']"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end-clients contant-->