<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Service</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="index.html"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Pages
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Services</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- start-clients contant-->
<div class="row">
    <div class="col-12">
        <div class="card card-statistics clients-contant">
            <div class="card-header">
                <div class="d-xxs-flex justify-content-between align-items-center">
                        <div class="col-md-6">
                            <div class="card-heading">
                                <h4 class="card-title">Service</h4>
                            </div>
                        </div><div class="col-md-6 text-right">
                            <div class="card-heading">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#formAddServices">+ Add new </button>
                            </div>
                        </div>
                </div>
            </div>
            <div class="card-body py-0 table-responsive">
                <table class="table clients-contant-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Icon</th>
                            <th scope="col">Sumary</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold">Vinfast</p>
                                </div>
                            </td>
                            <td>
                                <div class="bg-img mr-4">
                                    <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                </div>
                            </td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex quae unde illum est alias maxime.</td>
                            <td><a class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"
                                    data-toggle="modal" data-target="#formEditServices"><i class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold">aaaa</p>
                                </div>
                            </td>
                            <td>
                                <div class="bg-img mr-4">
                                    <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                </div>
                            </td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex quae unde illum est alias maxime.</td>
                            <td><a data-toggle="modal" data-target="#formEditServices"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold">dddd</p>
                                </div>
                            </td>
                            <td>
                                <div class="bg-img mr-4">
                                    <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                </div>
                            </td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex quae unde illum est alias maxime.</td>
                            <td><a data-toggle="modal" data-target="#formEditServices"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold">Vinfast</p>
                                </div>
                            </td>
                            <td>
                                <div class="bg-img mr-4">
                                    <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                </div>
                            </td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex quae unde illum est alias maxime.</td>
                            <td><a data-toggle="modal" data-target="#formEditServices"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold">ssss</p>
                                </div>
                            </td>
                            <td>
                                <div class="bg-img mr-4">
                                    <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                </div>
                            </td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex quae unde illum est alias maxime.</td>
                            <td><a data-toggle="modal" data-target="#formEditServices"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end-clients contant-->

<div class="modal fade" id="formEditServices" tabindex="-1" role="dialog" aria-labelledby="formEditServicess" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="modelemail">Title</label>
                        <input type="text" class="form-control" id="modelemail">
                    </div>
                    <div class="form-group">
                        <label for="modelpass">Icon</label>
                        <input type="file" class="form-control" id="modelpass">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword6">Sumrary</label>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message" id="Textarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">UPDATe</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="formAddServices" tabindex="-1" role="dialog" aria-labelledby="formAddServices" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="modelemail">Title</label>
                        <input type="text" class="form-control" id="modelemail">
                    </div>
                    <div class="form-group">
                        <label for="modelpass">Icon</label>
                        <input type="file" class="form-control" id="modelpass">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword6">Sumrary</label>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message" id="Textarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">ADD</button>
                </form>
            </div>
        </div>
    </div>
</div>