<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Promotion</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/']" routerLinkActive="router-link-active" ><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Pages
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">
                            Promotion</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="export-table-wrapper table-responsive">
                    <div class=" m-b-20">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#formAdd"
                                value="">+ Add new </button> 
                    </div>
                    <table id="export-table" class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Promotion Code</th>
                                <th>Discount Rate</th>
                                <th>Status Promotion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>axc23-rees-22</td>
                                <td>10%</td>
                                <td><a href="javascript:void(0)" class="dot bg-danger"></a>invalid</td>
                                <td class="text-center"><a data-toggle="modal" data-target="#formEditPromotion"
                                        class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                            class="ti ti-pencil"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                            class="ti ti-close"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>axc23-rees-22</td>
                                <td>10%</td>
                                <td><a href="javascript:void(0)" class="dot  bg-success"></a>valid</td>
                                <td class="text-center"><a data-toggle="modal" data-target="#formEditPromotion"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                            </tr>
                            <tr>
                                <td>axc23-rees-22</td>
                                <td>10%</td>
                                <td><a href="javascript:void(0)" class="dot bg-danger"></a>invalid</td>
                                <td class="text-center"><a data-toggle="modal" data-target="#formEditPromotion"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                            </tr>
                            <tr>
                                <td>axc23-rees-22</td>
                                <td>10%</td>
                                <td><a href="javascript:void(0)" class="dot  bg-success"></a>valid</td>
                                <td class="text-center"> <a data-toggle="modal" data-target="#formEditPromotion"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                            </tr>
                            <tr>
                                <td>axc23-rees-22</td>
                                <td>10%</td>
                                <td><a href="javascript:void(0)" class="dot  bg-success"></a>valid</td>
                                <td class="text-center"><a data-toggle="modal" data-target="#formEditPromotion"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<div class="modal fade" id="formAdd" tabindex="-1" role="dialog" aria-labelledby="formAdd" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="promotionCodeAdd">Promotion Code</label>
                        <input type="text" class="form-control" id="promotionCodeAdd">
                    </div>
                    <div class="form-group">
                        <label for="discountRateAdd">Discount Rate</label>
                        <input type="text" class="form-control" id="discountRateAdd">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword6">Status</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="validAdd"
                                    value="valid" checked>
                                <label class="form-check-label" for="validAdd">Valid</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="invalidAdd"
                                    value="invalid">
                                <label class="form-check-label" for="invalidAdd">Invalid</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">ADD</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="formEditPromotion" tabindex="-1" role="dialog" aria-labelledby="formEditPromotion" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="promotionCodeEdit">Promotion Code</label>
                        <input type="text" class="form-control" id="promotionCodeEdit">
                    </div>
                    <div class="form-group">
                        <label for="DiscountRateEdit">Discount Rate</label>
                        <input type="text" class="form-control" id="DiscountRateEdit">
                    </div>
                    <div class="form-group">
                        <label for="statusEditPromotion">Status</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="formPromotionEdit" id="formPromotionEdit1"
                                    value="valid" checked>
                                <label class="form-check-label" for="formPromotionEdit1">Valid</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="formPromotionEdit" id="formPromotionEdit2"
                                    value="invalid">
                                <label class="form-check-label" for="formPromotionEdit2">Invalid</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">UPDATE</button>
                </form>
            </div>
        </div>
    </div>
</div>

