<!-- begin app -->
<div class="app">
    <div class="app-wrap">
        <app-header></app-header>

        <!-- begin app-container -->
        <div class="app-container">
            <app-nav></app-nav>

            <!-- begin app-main -->
            <div class="app-main" id="main">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <!-- end app-container -->
        <!-- begin footer -->
        <footer class="footer">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-left">
                    <p>&copy; Copyright 2019. All rights reserved.</p>
                </div>
                <div class="col col-sm-6 ml-sm-auto text-center text-sm-right">
                    <p>
                        Hand-crafted made with
                        <i class="fa fa-heart text-danger mx-1"></i> by Potenza
                    </p>
                </div>
            </div>
        </footer>
        <!-- end footer -->
    </div>
    <!-- end app-wrap -->
</div>
<!-- end app -->