<!-- begin app-nabar -->
<aside class="app-navbar">
    <!-- begin sidebar-nav -->
    <div class="sidebar-nav scrollbar scroll_light">
        <ul class="metismenu " id="sidebarNav">
            <li class="nav-static-title">Personal</li>
            <li class="active">
                <a href="javascript:void(0)" aria-expanded="false">
                    <span class="nav-title">Dashboard</span>
                </a>
            </li>

            <li class="nav-static-title">Extra Components</li>

            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i
                        class="nav-icon ti ti-list"></i><span class="nav-title">Pages</span></a>
                <ul aria-expanded="false">
                    <li> <a [routerLink]="['/my-dashboard-car/account-management']"
                            routerLinkActive="router-link-active">User</a> </li>
                    <li> <a [routerLink]="['/my-dashboard-car/product']"
                            routerLinkActive="router-link-active">Product</a> </li>
                    <li> <a [routerLink]="['/my-dashboard-car/show-room']"
                            routerLinkActive="router-link-active">Show Room</a> </li>
                    <li> <a [routerLink]="['/my-dashboard-car/barnd-car']" routerLinkActive="router-link-active">Brand
                            Car</a> </li>
                    <li> <a [routerLink]="['/my-dashboard-car/order-management']"
                            routerLinkActive="router-link-active">Order</a> </li>
                    <li> <a [routerLink]="['/my-dashboard-car/promotion']"
                            routerLinkActive="router-link-active">Promotion</a> </li>
                    <li> <a [routerLink]="['/my-dashboard-car/services']"
                            routerLinkActive="router-link-active">Services</a> </li>

                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i
                        class="nav-icon ti ti-key"></i><span class="nav-title">Auth</span></a>
                <ul aria-expanded="false">
                    <li> <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Login</a> </li>
                    <li> <a href="auth-register.html">Logout</a> </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar-nav -->
</aside>
<!-- end app-navbar -->