<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Product</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/']" routerLinkActive="router-link-active" ><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">Pages</li>
                        <li class="breadcrumb-item"><a [routerLink]="['/my-dashboard-car/product']"
                                routerLinkActive="router-link-active">Product</a></li>

                        <li class="breadcrumb-item active text-primary" aria-current="page">
                            Edit Product
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- start Validation row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <h4 class="card-title">Edit Product</h4>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="proNameEdit">Product Name</label>
                            <input type="text" class="form-control" id="proNameEdit" placeholder="product name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="priceEdit">Price</label>
                            <input type="number" class="form-control" id="priceEdit" placeholder="price">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="discountRateEdit">Discount Rate</label>
                            <input type="text" class="form-control" id="discountRateEdit" placeholder="discount rate">
                        </div>
                        <div class="form-group col-md-1"></div>
                        <div class="form-group col-md-5">
                            <label for="statusEdit">Status</label>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="statusEdit"
                                        id="stockingEdit" value="true" checked>
                                    <label class="form-check-label" for="stocking">stocking</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="statusEdit"
                                        id="inStockingEdit" value="false">
                                    <label class="form-check-label" for="inStocking">out of stock</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="showRoomEdit">Show room</label>
                            <select id="showRoomEdit" class="form-control">
                                <option selected>Show room</option>
                                <option>Long bien</option>
                                <option>Cau giay</option>
                                <option>Pham Van Dong</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="stateEdit">State</label>
                            <select id="stateEdit" class="form-control">
                                <option selected>Brand</option>
                                <option>KIA</option>
                                <option>Vinfast</option>
                                <option>Huyndai</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="meetingDateEdit">Meeting Day</label>
                            <div class='input-group date' id='datepicker-action'>
                                <input class="form-control" type='text' value="29/07/2018" id="meetingDateEdit" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-header mb-3">
                        <div class="card-heading">
                            <h4 class="card-title">Product Detail</h4>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="colorEdit">Color</label>
                            <input type="text" class="form-control" id="color" placeholder="colorEdit">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="seatingEdit">Seat Count</label>
                            <input type="number" class="form-control" id="seatingEdit" placeholder="seat count">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="doorEdit">Door Quantity</label>
                            <input type="number" class="form-control" id="doorEdit" placeholder="door quantity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="fuelEdit">Fuel</label>
                            <input type="text" class="form-control" id="fuelEdit" placeholder="fuel">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="statusDetailEdit">Status</label>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="option1Edit" value="option1" checked>
                                    <label class="form-check-label" for="option1Edit">option1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="option2Edit" value="option2">
                                    <label class="form-check-label" for="option2Edit">option2</label>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="rearTorgeEdit">Rear Torage</label>
                            <input type="text" class="form-control" id="rearTorgeEdit" placeholder="rear torage">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gearBoxEdit">Gear Box</label>
                            <input type="text" class="form-control" id="gearBoxEdit" placeholder="gear box">
                        </div>
                    </div>
                    
                        <div class="form-group">
                            <label for="descriptionEdit">Description</label>
                            <textarea class="form-control" placeholder="Message" id="descriptionEdit" rows="3"></textarea>
                        </div>
                    <button type="submit" class="btn btn-primary">UPDATE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end Validation row  -->