<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>User</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/']" routerLinkActive="router-link-active"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Pages
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">User</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- start-clients contant-->
<div class="row">
    <div class="col-12">
        <div class="card card-statistics clients-contant">
            <div class="card-header">
                <div class="d-xxs-flex justify-content-between align-items-center">
                    <div class="card-heading">
                        <h4 class="card-title">User account</h4>
                    </div>
                </div>
            </div>
            <div class="card-body py-0 table-responsive">
                <table class="table clients-contant-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="bg-img mr-4">
                                        <img src="assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">
                                    </div>
                                    <p class="font-weight-bold">Adrian Demiandro</p>
                                </div>
                            </td>
                            <td>acv@gmail.com</td>
                            <td>0123654789</td>
                            <td><a href="javascript:void(0)" class="dot"></a><span>Paid</span></td>
                            <td>

                                <!-- <a data-toggle="modal" data-target="#formUser" class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 "><i class="ti ti-pencil"></i></a> -->
                                <a data-toggle="modal" data-target="#formUser"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 "><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="bg-img mr-4">
                                        <img src="assets/img/avtar/02.jpg" class="img-fluid" alt="Clients-02">
                                    </div>
                                    <p class="font-weight-bold">Jenny Smithdro</p>
                                </div>
                            </td>
                            <td>acv@gmail.com</td>
                            <td>0123654789</td>
                            <td><a href="javascript:void(0)" class="dot bg-primary"></a><span>Unpaid</span></td>
                            <td><a data-toggle="modal" data-target="#formUser"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="bg-img mr-4">
                                        <img src="assets/img/avtar/03.jpg" class="img-fluid" alt="Clients-03">
                                    </div>
                                    <p class="font-weight-bold">Brian Joedro</p>
                                </div>
                            </td>
                            <td>acv@gmail.com</td>
                            <td>0123654789</td>
                            <td><a href="javascript:void(0)" class="dot bg-primary"></a><span>Unpaid</span></td>
                            <td><a data-toggle="modal" data-target="#formUser"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="bg-img mr-4">
                                        <img src="assets/img/avtar/04.jpg" class="img-fluid" alt="Clients-04">
                                    </div>
                                    <p class="font-weight-bold">Sandradro Garett</p>
                                </div>
                            </td>
                            <td>acv@gmail.com</td>
                            <td>0123654789</td>
                            <td><a href="javascript:void(0)" class="dot"></a><span>Paid</span></td>
                            <td><a data-toggle="modal" data-target="#formUser"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="bg-img mr-4">
                                        <img src="assets/img/avtar/05.jpg" class="img-fluid" alt="Clients-05">
                                    </div>
                                    <p class="font-weight-bold">Garydro</p>
                                </div>
                            </td>
                            <td>acv@gmail.com</td>
                            <td>0123654789</td>
                            <td><a data-toggle="modal" data-target="#formUser" routerLinkActive="router-link-active"
                                    class="dot bg-danger"></a><span>Canceled</span></td>
                            <td><a href="javascript:void(0)"
                                    class="btn btn-icon btn-outline-primary btn-round disabled mr-2"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)"
                                    class="btn btn-icon btn-outline-danger btn-round disabled"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end-clients contant-->


<div class="modal fade" id="formUser" tabindex="-1" role="dialog" aria-labelledby="formUser" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputphone" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputphone" placeholder="Phone number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Status</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusUser" id="paid" value="paid"
                                    checked>
                                <label class="form-check-label" for="paid">Paid</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusUser" id="unpaid"
                                    value="unpaid">
                                <label class="form-check-label" for="unpaid">Unpaid</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="canceled" id="invalidAdd"
                                    value="canceled">
                                <label class="form-check-label" for="canceled">Canceled</label>
                            </div>
                        </div>
                    </div>

                        <div class="form-group row">
                            <div class="col-sm-9">                                
                                <button type="submit" class="btn btn-primary ml-2">Update</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>