<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Show Room</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="index.html"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Pages
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">ShowRoom</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- start-clients contant-->
<div class="row">
    <div class="col-12">
        <div class="card card-statistics clients-contant">
            <div class="card-header">
                <div class="d-xxs-flex justify-content-between align-items-center">
                    <div class="col-md-6">
                        <div class="card-heading">
                            <h4 class="card-title">Show Room</h4>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-primary" type="button"  data-toggle="modal" data-target="#formAddShowRoom">+ Add new </button>
                    </div>
                </div>
            </div>
            <div class="card-body py-0 table-responsive">
                <table class="table clients-contant-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Show Room Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                               Cau Giay
                            </td>
                            <td>Cau Giay</td>
                            <td>showroom.caugiay@gmail.com</td>
                            <td>0241536987</td>
                            <td><a href="javascript:void(0)" class="dot"></a><span>Openning</span></td>
                            <td><a data-toggle="modal" data-target="#formEditShowRoom"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr><tr>
                            <td>
                               Long Bien
                            </td>
                            <td>Long Bien</td>
                            <td>showroom.longbien@gmail.com</td>
                            <td>0241536987</td>
                            <td><a href="javascript:void(0)" class="dot bg-warning"></a><span>Closing</span></td>
                            <td><a data-toggle="modal" data-target="#formEditShowRoom"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Pham Van Dong
                            </td>
                            <td>Cau Giay</td>
                            <td>showroom.pvdcaugiay@gmail.com</td>
                            <td>0241536987</td>
                            <td><a href="javascript:void(0)" class="dot"></a><span>Openning</span></td>
                            <td><a data-toggle="modal" data-target="#formEditShowRoom"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Ha Dong
                            </td>
                            <td>Ha Dong</td>
                            <td>showroom.hadong@gmail.com</td>
                            <td>0241536987</td>
                            <td><a href="javascript:void(0)" class="dot"></a><span>Openning</span></td>
                            <td><a data-toggle="modal" data-target="#formEditShowRoom"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               My Dinh
                            </td>
                            <td>My Dinh</td>
                            <td>showroom.mydinh@gmail.com</td>
                            <td>0241536987</td>
                            <td><a href="javascript:void(0)" class="dot bg-warning"></a><span>Closing</span></td>
                            <td><a data-toggle="modal" data-target="#formEditShowRoom"
                                    class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0"><i
                                        class="ti ti-pencil"></i></a>
                                <a href="javascript:void(0)" class="btn btn-icon btn-outline-danger btn-round"><i
                                        class="ti ti-close"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end-clients contant-->


<div class="modal fade" id="formAddShowRoom" tabindex="-1" role="dialog" aria-labelledby="formAddShowRoom" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Show room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="showNameAdd">Show Room Name</label>
                        <input type="text" class="form-control" id="showNameAdd">
                    </div>
                    <div class="form-group">
                        <label for="showAdd">Address</label>
                        <input type="text" class="form-control" id="showAdd">
                    </div>
                    <div class="form-group">
                        <label for="emailAdd">Email</label>
                        <input type="text" class="form-control" id="emailAdd">
                    </div>
                    <div class="form-group">
                        <label for="phoneAdd">Phone Number</label>
                        <input type="text" class="form-control" id="phoneAdd">
                    </div>
                    <div class="form-group">
                        <label >Status</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusShowAdd" value="true" id="activeShowAdd" checked>
                                <label class="form-check-label" for="activeShowAdd">Openning</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusShowAdd" id="inactiveShowAdd" value="false">
                                <label class="form-check-label" for="inactiveShowAdd">Closing</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">ADD</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="formEditShowRoom" tabindex="-1" role="dialog" aria-labelledby="formEditShowRoom" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Show room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="showNameAdd">Show Room Name</label>
                        <input type="text" class="form-control" id="showNameAdd">
                    </div>
                    <div class="form-group">
                        <label for="showAdd">Address</label>
                        <input type="text" class="form-control" id="showAdd">
                    </div>
                    <div class="form-group">
                        <label for="emailAdd">Email</label>
                        <input type="text" class="form-control" id="emailAdd">
                    </div>
                    <div class="form-group">
                        <label for="phoneAdd">Phone Number</label>
                        <input type="text" class="form-control" id="phoneAdd">
                    </div>
                    <div class="form-group">
                        <label >Status</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusShowAdd" value="true" id="activeShowAdd" checked>
                                <label class="form-check-label" for="activeShowAdd">Openning</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="statusShowAdd" id="inactiveShowAdd" value="false">
                                <label class="form-check-label" for="inactiveShowAdd">Closing</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">UPDATE</button>
                </form>
            </div>
        </div>
    </div>
</div>